# Apache X Table with DeltaStreamer and trino Demo

# Install DEP
```
pip install trino
pip install ipython-sql

```

# Read data as HUDI

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
%sql trino://admin@localhost:8080/default

In [25]:
%sql SHOW TABLES

 * trino://admin@localhost:8080/default
Done.

[('bronze_orders',)]

In [26]:
%sql SHOW CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('delta',), ('hive',), ('hudi',), ('iceberg',), ('minio',), ('system',)]

In [27]:
%sql USE hudi.default

 * trino://admin@localhost:8080/default
Done.

[]

In [28]:
%sql SELECT * FROM bronze_orders limit 2

 * trino://admin@localhost:8080/default
Done.

[('20240805123352428', '20240805123352428_20_0', 'f6085f93-9843-4b33-913f-ebebe2e85945', 'state=GU', '5607e92f-a155-4496-adfb-668e73c6dc77-0_20-27-182_20240805123352428.parquet', 'f6085f93-9843-4b33-913f-ebebe2e85945', 'Amount note someone.', 861, 'MEDIUM', datetime.date(2024, 7, 26), '4988fcb7-74c5-4df1-901a-686afbdc131f', 1722620744.919279, 'GU'),
 ('20240805123352428', '20240805123352428_44_0', '8c1cf019-1c58-4f37-8a04-bba59c8732ba', 'state=AR', '5bd70854-516e-4265-95f5-ad0b354c58dc-0_44-27-206_20240805123352428.parquet', '8c1cf019-1c58-4f37-8a04-bba59c8732ba', 'Skill beyond blood.', 764, 'HIGH', datetime.date(2024, 7, 21), 'db99f84e-6b42-4a98-9487-f401c7371cbf', 1722620744.892155, 'AR')]

In [29]:
%sql SHOW CATALOGS

%sql USE hudi.default

%sql SHOW TABLES

%sql SELECT * FROM bronze_orders limit 2

 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('20240805123352428', '20240805123352428_36_0', 'ccf9f639-9fdd-4d51-b062-e33a6f0cd4b6', 'state=HI', 'b615a0f6-45af-4d62-a8db-325338167cd4-0_36-27-198_20240805123352428.parquet', 'ccf9f639-9fdd-4d51-b062-e33a6f0cd4b6', 'Response whose news.', 175, 'MEDIUM', datetime.date(2024, 7, 4), 'c653428e-96e8-49bd-a922-7aca878fa7eb', 1722620744.958708, 'HI'),
 ('20240805123352428', '20240805123352428_38_0', '3c77bdc7-6847-4cab-ac1f-5bd467c17dba', 'state=IN', '7afe3963-b53a-42bd-8136-b50a3c1fd1ef-0_38-27-200_20240805123352428.parquet', '3c77bdc7-6847-4cab-ac1f-5bd467c17dba', 'That official issue.', 469, 'HIGH', datetime.date(2024, 7, 9), 'a1472ac7-7858-4bfd-845b-c58eadcc0097', 1722620744.918319, 'IN')]

# Read As delta

In [106]:
%sql SHOW CATALOGS

%sql USE delta.delta_db

%sql SHOW TABLES

%sql select * from orders limit 2

 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('20240805123352428', '20240805123352428_11_0', '46719ddc-17f8-428e-8c28-0798a2a242af', 'state=ND', '7add6f53-813a-4ac7-92c1-f98a29c6fcd0-0_11-27-173_20240805123352428.parquet', '46719ddc-17f8-428e-8c28-0798a2a242af', 'Scene consumer cost.', 584, 'LOW', 'ND', datetime.date(2024, 7, 14), '7a8b6846-2e11-4202-a7c3-c177a56dc7c5', 1722620744.896923),
 ('20240805123352428', '20240805123352428_9_0', '5921c415-d3c2-4031-a519-32066771aaf2', 'state=RI', '3cce1839-6c8b-4e32-afbb-9aa5801b8cd1-0_9-27-171_20240805123352428.parquet', '5921c415-d3c2-4031-a519-32066771aaf2', 'Rule message make.', 348, 'HIGH', 'RI', datetime.date(2024, 7, 3), '98bbcd1e-9cb7-4b1e-8046-ede6842d74f1', 1722620744.962104)]

In [113]:
%sql SELECT * FROM delta.delta_db.orders FOR VERSION AS OF 0 LIMIT 2

 * trino://admin@localhost:8080/default
Done.

[('20240805123352428', '20240805123352428_48_0', 'fc77db99-4f0b-4e52-97b6-cb50c6b808fd', 'state=MD', 'f96a2abe-1e83-4912-a3f8-9959919832c2-0_48-27-210_20240805123352428.parquet', 'fc77db99-4f0b-4e52-97b6-cb50c6b808fd', 'In practice anyone.', 332, 'HIGH', 'MD', datetime.date(2024, 7, 6), '9f1f5452-8753-40bd-a7d5-6a428ec99bc8', 1722620744.943),
 ('20240805123352428', '20240805123352428_55_0', '01929df7-0292-4a92-a3cb-680f4fafdd72', 'state=MN', '2f76bde2-ce2a-440a-bd73-d8166ea24899-0_55-27-217_20240805123352428.parquet', '01929df7-0292-4a92-a3cb-680f4fafdd72', 'Out nice morning.', 697, 'MEDIUM', 'MN', datetime.date(2024, 7, 14), '9d862ab4-604f-40a1-ab39-6b535ec8ca1d', 1722620744.896542)]